{% if site.disqus_shortname %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'Marshucheng1',
    repo: 'https://marshucheng1.github.io/',
    oauth: {
        client_id: '648e03c00325e9dbff3d',
        client_secret: '8ef1d3efafedee5e15e5d14d638d3275d47a7753',
    },
});
gitment.render('gitmentContainer');
</script>
{% endif %}