{% if site.disqus_shortname %}
<div id="gitmentContent" name="comments"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '<%= page.date %>',
    owner: '{{site.github_username}}',
    repo: '{{site.gitment_rep}}',
    oauth: {
        client_id: '{{site.gitment_clientId}}',
        client_secret: '{{site.gitment_clientSecret}}',
    },
});
gitment.render('gitmentContent');
</script>
{% endif %}